@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

@theme {
  --color-custom-blue: #002147;
  --color-custom-yellow: #ffa700;
  --color-custom-green: #25D366; 
  --color-custom-green2: #075E54;
}