@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

@theme {
  --color-custom-blue: #27aae1;
  --color-custom-yellow: #ffc917;
  --color-custom-green: #a4ce46; 
  --color-custom-green2: #075E54;
}